@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Libreria MVC</h1>
    <div>
        <a type="button" class="btn btn-primary" asp-controller="Loan" asp-action="Index">Prestamo</a>
        <a type="button" class="btn btn-primary" asp-controller="Book" asp-action="Index">Libros</a>
        <a type="button" class="btn btn-primary" asp-controller="Client" asp-action="Index">Clientes</a>
    </div>
   
</div>
